<p class="one">
  <img src="../assets/img/logo-intro.png" alt="" style="width: 7%; padding: 1%" align="left" >
  <img src="../assets/img/edgelogo_preview.png" alt="" style="width: 7% ; padding: 1%" align="left" >
  
  EDGE'18
  <img src="../assets/img/geekonix_preview.png" alt="" style="width: 7% ; padding: 1%" align="right">
  <img src="../assets/img/imageedit_2_5970135416.png" alt="" style="width: 7% ; padding: 1%" align="right">
</p>

<p class="two">
  The Official Coding Club of Techno India Saltlake 'CurBrain' <br> Presents
  
</p>

<p style="font-size: 400%" class="two">Intra College Fest</p>